{
    "sound": {
        "prefix": "Soundboard: "
    },
    "tts": {
        "prefix": "TTS",
        "voice": [ "Mario", "m1" ],
        "volume": 0.75,
        "speed": 100
    },
    "redemptions": {
        "redeemables": [
            "Drink some water"
        ],
        "voice": [ "Michael" ],
        "volume": 0.75
    } 
}
